<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Guru99bank Automation Suite">
	<listeners>
		<listener class-name="horus.listeners.ReportListeners"></listener>
	</listeners>
	<test name="Guru99bank functional Test">
		<classes>
			<class name="horus.testcases.LoginTest" />
			<class name="horus.testcases.AddCustomerTest" />
			<class name="horus.testcases.AddAccountTest" />
			<class name="horus.testcases.LogoutTest" />
		</classes>
	</test> <!-- Guru99bank functional Test -->
</suite> <!-- Guru99bank Automation Suite -->
